@tailwind base;
@tailwind components;
@tailwind utilities;

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 커스텀 */
.navbar {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  height: 60px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.5);
  background-color: bisque; 
  font-family: "Noto Sans Korean";
  box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
  */


  @apply flex justify-between items-center fixed shadow-md shadow-slate-900/40 w-full min-w-[1200px] h-[96px] top-0 bg-white font-['Noto_Sans_KR'] font-[600] text-base z-50
}

.navbar__logo {
  /* color:blue;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  padding: 0px 22px */

  @apply text-blue-800 text-3xl font-semibold cursor-pointer px-[22px] py-0
}

.navbar__list {
  /* display: flex;
  cursor: pointer;
  padding: 0px 22px;
  gap: 12px;
  align-items: center; */

  @apply flex cursor-pointer py-0 px-[22px] gap-x-[12px] items-center text-xl
}

.navbar__list__item {
  @apply cursor-pointer
}

.navbar__list__item:hover {
  /* color: aqua; */

  @apply text-teal-200
}

.layout{
  /* padding-top: 72px; */

  @apply w-full h-full
}

.layout .inner {
  /* padding-top: 72px; */
  
  /* @apply w-full bg-[#e6e6e6] */
  @apply w-full h-full bg-[#FFF] pt-[96px]
} 


/* sideNavbar */

#sideNavbar {
  position: fixed;
  width: 150px;
  height: 310px;
  left: 40px;
  top: 50%;
  margin-top: -189px;
  /* background: url() 0 0 no-repeat; */
  /* background: gray; */
  font-size: 20px;
  z-index: 50;
}

#sideNavbar div {
  /* text-align: center; */
  padding: 10px;
  position: absolute;
  width: 178px;
  height: 300px;
  line-height: 20px;
  left: 10px;
  color: antiquewhite;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff;
  cursor: pointer;
  overflow: hidden;
}
#sideNavbar div:hover {
  /* width: 158px; */
  /* height: 30px; */
  /* left: 10px; */
  /* overflow: hidden; */
  color:white;
  text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
}

#sideNavbar #nav1 {
  top: 100px;
}

#sideNavbar #nav2 {
  top: 170px;
}

#sideNavbar #nav3 {
  top: 240px;
}




/* Carousel Slider */

.carousel {
  margin: 0 auto;
  /* max-width: 980px; */
  max-width: 1320px;
  height: 620px;
}

ul.carousel__slides {
  display: block;
  position: relative;
  /* height: 400px; */
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.carousel__slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.carousel__slides input {
  display: none;
}

.carousel__slide-container {
  display: block;
}

.carousel__slide-img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.carousel__slide-img img {
  width: auto;
  min-width: 100%;
  height: 100%;
}

.carousel__controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 400px;
  color: #fff;
}

.carousel__controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
}

.carousel__slide-img:hover + .carousel__controls label {
  opacity: 0.5;
}

.carousel__controls label:hover {
  opacity: 1;
}

.carousel__controls .carousel__slide-prev {
  top: 200px;
  width: 49%;
  text-align: left;
  left: 0;
}

.carousel__controls .carousel__slide-next {
  top: 200px;
  width: 49%;
  text-align: right;
  right: 0;
}

.carousel__dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
}

.carousel__dots .carousel__dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  margin: 10px;
}

input:checked + .carousel__slide-container .carousel__slide-img {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .carousel__slide-container .carousel__controls label {
  display: block;
}

input#img-1:checked ~ .carousel__dots label#img-dot-1,
input#img-2:checked ~ .carousel__dots label#img-dot-2,
input#img-3:checked ~ .carousel__dots label#img-dot-3 {
  opacity: 1;
}

input:checked + .carousel__slide-container .nav label {
  display: block;
}


/* swiper slide */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Main page 첫번째 슬라이드 페이지의 초록색 덮개를 사다리꼴로 변경 */
.clip-path-polygon {
  clip-path: polygon(0% 0%, 0% 100%, 35% 100%, 25% 0%);
}

.clip-path-polygon3 {
  clip-path: polygon(0% 20%, 0% 70%, 100% 70%, 100% 20%);
}