@tailwind base;
@tailwind components;
@tailwind utilities;

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  height: 100%;
  padding-bottom: 0 !important;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
  공통 Nav CSS 
*/
.navbar {
  @apply relative hidden sm:flex w-[100vw] justify-center sm:items-center shadow-md shadow-slate-900/40 h-12 bg-white font-['Noto_Sans_KR'] font-[600] text-base
}

.navbar__logo {
  @apply text-orange-400 text-3xl font-semibold cursor-pointer px-[22px] py-0
}

.navbar__list {
  @apply flex cursor-pointer py-0 px-[22px] gap-x-16 items-center text-xl
}

.navbar__list__item {
  @apply cursor-pointer
}

.navbar__list__item:hover {
  @apply text-pink-700
}

.navbar__list__item.on {
  @apply cursor-pointer text-pink-700
}

.navbar__button {
  @apply hidden 
}

@media only screen and (max-width: 640px) {

  .navbar--mobile {
    @apply fixed bg-stone-800 h-full w-[50%] top-[112px] left-0 text-white
  }

  .navbar__list {
    @apply hidden
  }

  .navbar__button {
    @apply block absolute left-3 px-0 py-[18px] text-2xl
  }

  .navbar__list__item--mobile {
    @apply cursor-pointer
  }

  .navbar__list__item--mobile:hover {
    @apply text-gray-400
  }

  .navbar__list--mobile {
    @apply mx-auto flex flex-col gap-[28px] text-xl items-start px-[24px] py-[18px]
  }
}

/* 
  전체 레이아웃 
*/

.layout{
  @apply w-full h-full min-w-[375px]
}

.layout .inner {
  @apply w-full h-full min-w-[375px] bg-[#FFD27F]/5
} 


/* 
  sideNavbar 
*/

#sideNavbar {
  @apply fixed w-[150px] h-[310px] left-[1%] top-[50%] mt-[189px] text-[20px] z-50
}

#sideNavbar div {
  color: antiquewhite;
  @apply p-[10px] absolute w-[178px] h-[50px] leading-[20px] left-[10px] cursor-pointer overflow-hidden
}
#sideNavbar div:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff;
  @apply text-white
}

#sideNavbar #nav1 {
  @apply top-[100px]
}

#sideNavbar #nav2 {
  @apply top-[170px]
}

#sideNavbar #nav3 {
  @apply top-[240px]
}

#sideNavbar .on {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff;
  @apply text-white
}

@media only screen and (max-width: 1024px) {
  #sideNavbar {
    @apply hidden
  }
}

/* 
  swiper slide 
*/
.swiper {
  @apply w-full h-full
}

.swiper-slide {
  @apply text-center text-[18px] bg-white flex justify-center items-center
}

.swiper-slide img {
  @apply block w-full h-full object-cover
}

/* Main page 첫번째 슬라이드 페이지의 초록색 덮개를 사다리꼴로 변경 */
.clip-path-polygon {
  clip-path: polygon(0% 0%, 0% 100%, 33% 100%, 23% 0%);
}

.clip-path-polygon2 {
  clip-path: circle(15%);
}

.clip-path-polygon3 {
  clip-path: polygon(0% 20%, 0% 70%, 100% 70%, 100% 20%);
}

/* 텍스트 효과 */
.text-shadow {
  text-shadow: 7px 7px 10px #000;
}