@tailwind base;
@tailwind components;
@tailwind utilities;

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 커스텀 */
.navbar {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  height: 60px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.5);
  background-color: bisque; */

  @apply flex justify-between items-center fixed w-full h-[72px] top-0 shadow-sm bg-slate-300 z-50
}

.navbar__logo {
  /* color:blue;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  padding: 0px 22px */

  @apply text-blue-800 text-lg font-semibold cursor-pointer px-[22px] py-0
}

.navbar__list {
  /* display: flex;
  cursor: pointer;
  padding: 0px 22px;
  gap: 12px;
  align-items: center; */

  @apply flex cursor-pointer py-0 px-[22px] gap-x-[12px] items-center
}

.navbar__list__item {
  @apply cursor-pointer
}

.navbar__list__item:hover {
  /* color: aqua; */

  @apply text-teal-200
}

.layout{
  /* padding-top: 72px; */

  @apply pt-[72px]
}